{% extends 'admin/base.html' %}

{% block content %}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <h1 class="page-title m-0">Список всех Комментов</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">

<div class="col-lg-12">
<table class="table">
  <thead class="text-center">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название</th>
      <th scope="col">Город</th>
         <th scope="col">Оценка</th>
         <th scope="col">Дата публикации</th>
         <th scope="col">Статус</th>

        <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for i in comments %}
        <tr>
      <th scope="row">{{ i.id }}</th>
      <td>{{ i.name }}</td>
      <td>{{ i.city }}</td>
            <td>{{ i.stars }}</td>
            <td>{{ i.datetime }}</td>
            <td>{% if i.publish == 0 %}<i class="fas fa-times-circle text-danger" ></i>{% elif i.publish == 1 %}<i class="fas fa-check-circle text-success"></i>{% endif %}</td>
      <td><a href="{{ url_for('edit_comment', id=i.id) }}" title="Редактировать"><i class="fas fa-edit"></i></a></td>
        <td>
            <!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ i.id }}">
  <i class="fas fa-trash"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{ i.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Вы действительно хотите удалить этот пост ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ i.name }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <a href="{{ url_for('delete_comment', id=i.id) }}" class="btn btn-danger">Удалить</a>

      </div>
    </div>
  </div>
</div>

            </td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</div>
            </div>


            <!-- end row -->


{% endblock %}


